<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



<!--    <bean name="movie,movie1" class="com.stackroute.domain.Movie" scope="prototype">-->

<!--        <constructor-arg index="0" value="1"></constructor-arg>-->
<!--        <constructor-arg index="1" value="kalank"></constructor-arg>-->
<!--        <constructor-arg index="2" ref="actor"></constructor-arg>-->
<!--    </bean>-->

    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">

        <property name="id" value="1"></property>
        <property name="movieName" value="kalank"></property>
    </bean>

    <bean id="movie1" class="com.stackroute.domain.Movie" autowire="byType">

        <property name="id" value="1"></property>
        <property name="movieName" value="kalank"></property>
    </bean>

    <bean name="actor" class="com.stackroute.domain.Actor">

        <property name="name" value="alia"></property>
        <property name="gender" value="Female"></property>
        <property name="age" value="30"></property>

    </bean>

    <bean id="applicationContextAwareDemo" class="com.stackroute.awareInterface.ApplicationContextAwareDemo">

    </bean>

    <bean id="BeanNameAwareDemo" class="com.stackroute.awareInterface.BeanNameAwareDemo">

    </bean>

    <bean id="BeanFactoryAwareDemo" class="com.stackroute.awareInterface.BeanFactoryAwareDemo">

    </bean>
    <bean id="ResourceLoaderAwareDemo" class="com.stackroute.awareInterface.ResourceLoaderAwareDemo">

    </bean>

    <!--    <bean id="actor" class="com.stackroute.domain.Actor">-->

<!--        <constructor-arg index="0" value="alia"></constructor-arg>-->
<!--        <constructor-arg index="1" value="Female"></constructor-arg>-->
<!--        <constructor-arg index="2" value="30"></constructor-arg>-->

<!--    </bean>-->
</beans>